@media all and (max-width: 1000px) {
    .sections {
         margin: 35px;
         font-size: 15px;
         width: 80%;
    }
}

@media all and (max-width: 670px) {
    .section-wrapper {
        width: 100%;
        padding: 0 15px 7px 16px;
    }
      
    .sections {
        margin: 35px;
        font-size: 15px;
        width: 80%;
    }

    header ul li a {
        display: none;
      }
     
     .menu-icon {
       display: block;
     }
}
